@mainColor:#80abc8;
@mainColorDimmed: rgba(127, 170, 199, 0.7);

@errorColor: red;
@borderColor: grey;
@titleBackgroundColor: lightgrey;

@okColor:rgba(10, 228, 17, 0.44);
@valueErrorColor:rgba(251, 46, 0, 0.54);
@valueWaitingColor: rgba(251, 243, 22, 0.54);
