[Unit]
Description=chargemon
After=syslog.target network.target


[Service]
User=pi
EnvironmentFile=~/etc/sysconfig/chargemon
ExecStart=/usr/lib/chargemon/server/CmMain.py -g ../gui/ $PORT_OPTION $LOG_OPTION $DEVICE_OPTION
KillMode=control-group
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
